:root {
  --main-color: #1ab6e3;
  --transparent-color: rgb(15 116 143 / 70%);
  --text-color: #777;
  --main-transition: 0.3s;
}
/* start global rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-heading {
  text-align: center;
  margin: 0 auto;
  max-width: 560px;
  padding: 80px 15px;
}
.main-heading h2 {
  margin: auto;
  width: fit-content;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.main-heading h2:hover {
  color: var(--main-color);
}
.main-heading h2::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  z-index: 2;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.main-heading h2:hover::before,
.main-heading h2:hover::after {
  background-color: var(--main-color);
}
.main-heading h2:hover::before {
  border-color: var(--main-color);
}
.main-heading p {
  color: var(--text-color);
  line-height: 2;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
/* end global rules */
/* start header */
header {
  width: 100%;
  position: absolute;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
header .container a img {
  height: 40px;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav i.list {
  color: white;
  cursor: pointer;
}
@media (min-width: 992px) {
  header .container nav i.list {
    display: none;
  }
}
header .container nav ul {
  display: flex;
}
@media (max-width: 992px) {
  header .container nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  header .container nav ul li a {
    padding: 15px !important;
  }
}
header .container nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 40px 10px;
  transition: var(--main-transition);
}
.open {
  display: flex !important;
}
header .container nav ul li a:hover,
header .container nav ul li a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .container nav input[name="search"] {
  outline: none;
  border: none;
  padding: 0;
  margin-left: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  width: 0;
}
header .container nav .form {
  margin-left: 10px;
  border-left: 1px white solid;
  width: 40px;
  height: 30px;
  position: relative;
}
header .container nav .form i {
  color: white;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@media (max-width: 991px) {
  header .container nav i.list {
    order: 1;
    margin: 0 20px;
  }
}
/* end header */
/* start landing */
.landing {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.landing .opacity {
  width: 300%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
.landing .opacity::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.landing .opacity .landing-img {
  height: 100%;
  width: calc(100% / 3);
  overflow: hidden;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  background-size: cover;
  background-position-x: center;
}
.landing .opacity .landing-img:nth-child(1) {
  background-image: url(../images/landing.jpg);
}
.landing .opacity .landing-img:nth-child(2) {
  background-image: url(../images/landing-2.jpg);
}
.landing .opacity .landing-img:nth-child(3) {
  background-image: url(../images/bird_winter_snow_branch_nature_93685_1920x1080.jpg);
}
@media (min-width: 1400px) {
  .landing .opacity .landing-img img {
    width: 100%;
  }
}
.landing .content {
  background-color: var(--transparent-color);
  color: white;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.landing .content .text {
  max-width: 600px;
  padding: 50px;
}
@media (max-width: 767px) {
  .landing .content {
    width: 100%;
  }
  .landing .content .text {
    max-width: 100%;
  }
}
.landing .content .text h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.6;
  padding-bottom: 20px;
}
.landing .content .text p {
  font-size: 14px;
  line-height: 2;
}
.landing i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  cursor: pointer;
}
.landing i:hover {
  color: var(--main-color);
}
.landing i:first-of-type {
  left: 30px;
}
.landing i:last-of-type {
  right: 30px;
}
.landing ul {
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  bottom: 30px;
  justify-content: center;
  align-items: center;
}
.landing ul li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
}
.landing ul li.colored {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.landing ul li:hover {
  background-color: var(--main-color);
  width: 25px;
  height: 25px;
  border-color: var(--main-color);
}
/* end landing */
/* start services */
.services {
  padding-bottom: 100px;
}
.services .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.services .container .serve {
  flex-basis: 42%;
  display: flex;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
  transition: var(--main-transition);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.services .container .serve:hover {
  box-shadow: 0 0 12px 0 #e5e5e5;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.services .container .serve:hover .serve-content p {
  color: black;
}
@media (max-width: 992px) {
  .services .container .serve {
    flex-basis: 100%;
  }
}
@media (max-width: 767px) {
  .services .container .serve {
    flex-direction: column;
    align-items: center;
  }
  .services .container .serve .serve-content {
    text-align: center;
  }
}
.services .container .serve .serve-content h3 {
  color: var(--main-color);
  margin-bottom: 30px;
}
.services .container .serve .serve-content p {
  line-height: 2;
  color: var(--text-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
/* end services */
/* start design */
.design {
  display: flex;
  align-items: center;
  background-image: url(../images/design-features.jpg);
  height: 600px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  justify-content: end;
  gap: 10%;
}
.design::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 50%);
}
.design img,
.design .text {
  position: relative;
}
.design img {
  bottom: -125px;
}
.design .text {
  color: white;
  background-color: var(--transparent-color);
  flex-basis: 55%;
  padding: 40px;
}
@media (max-width: 767px) {
  .design img {
    display: none;
  }
  .design .text {
    flex-basis: 100%;
  }
}
.design .text h2 {
  font-weight: normal;
  margin-bottom: 40px;
}
.design .text ul li {
  padding: 15px 0;
  margin-left: 40px;
  position: relative;
}
.design .text ul li i {
  font-size: 20px;
  margin-right: 15px;
}
/* end design */
/* start portfolio */
.port {
  position: relative;
  width: 100%;
  height: 100px;
  padding-bottom: 50px;
}
.port ul {
  list-style-type: none;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.port ul li {
  display: block;
  padding: 10px;
  margin: 10px;
  transition: var(--main-transition);
  border-radius: 10px;
  cursor: pointer;
}
.port ul li:hover,
.port ul li.active {
  background-color: var(--main-color);
  color: white;
}
.pictures {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.pictures .pic {
  flex-basis: 25%;
  transition: 1s;
  position: relative;
  overflow: hidden;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.pictures .pic:nth-child(5),
.pictures .pic:nth-child(6),
.pictures .pic:nth-child(7),
.pictures .pic:nth-child(8) {
  height: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .pictures .pic {
    flex-basis: 50%;
  }
}
@media (max-width: 767px) {
  .pictures .pic {
    flex-basis: 100%;
  }
}
.pictures .pic img {
  max-width: 100%;
  transition: var(--main-transition);
}
.pictures .pic .text {
  background-color: white;
  position: absolute;
  bottom: -500px;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: var(--main-transition);
}
.pictures .pic:hover .text {
  bottom: 0;
}
.pictures .pic:hover img {
  transform: rotate(3deg) scale(105%);
}
.pictures .pic:hover .text h4 {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}
.pictures .pic:hover .text p {
  font-size: 15px;
  color: var(--main-color);
}
#more {
  background-color: var(--main-color);
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 15px;
  display: block;
  width: 80px;
  margin: 40px auto;
  border: 0;
}
.video {
  width: 100%;
  position: relative;
}
.video::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  position: absolute;
}
.video video {
  width: 100%;
  height: 100%;
}
.video .content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  text-align: center;
  padding: 40px 15px;
  color: white;
}
.video .content h3 {
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 30px;
}
.video .content p {
  margin: 10px 0;
}
.video .content button {
  background-color: black;
  color: white;
  border: 0;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
/* end portfolio */
/* start about */
.about .container img {
  max-width: 100%;
  position: relative;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.about-2 {
  background-image: url(../images/stats.png);
  position: relative;
  padding: 50px 0;
  z-index: 0;
}
.about-2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 70%);
  left: 0;
  top: 0;
  z-index: -1;
}
.about-2 .container .projects {
  background-color: var(--transparent-color);
  display: flex;
  flex-wrap: wrap;
}
.about-2 .container .projects .proj {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 40px;
}
.about-2 .container .projects .proj i {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.about-2 .container .projects .proj p:first-of-type {
  color: white;
  font-weight: bold;
  font-size: 40px;
}
.about-2 .container .projects .proj p:last-of-type {
  color: white;
  margin-top: 20px;
  text-align: center;
}
/* end about */
/* start skills */
.skills-parent .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .skills-parent .container {
    flex-direction: column;
  }
}
.skills-parent .container .test {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 45%;
}
.skills-parent .container .test h3 {
  font-weight: normal;
  padding: 30px;
}
.skills-parent .container .test > p {
  color: var(--text-color);
  padding: 30px;
  line-height: 2;
  text-align: center;
}
.skills-parent .container .test .parent {
  position: relative;
}
.skills-parent .container .test .parent-cv:last-of-type {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.skills-parent .container .test .parent-cv {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.skills-parent .container .test .cv {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}
.skills-parent .container .test .cv img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .skills-parent .container .test .cv {
    flex-direction: column;
  }
  .skills-parent .container .test .cv img {
    margin: 0;
  }
}
.skills-parent .container .test .cv p {
  color: black;
  border-bottom: 1px var(--text-color) solid;
  line-height: 2;
  position: relative;
  padding-bottom: 25px;
  align-self: flex-start;
}
@media (max-width: 767px) {
  .skills-parent .container .test .cv p {
    text-align: center;
  }
}
.skills-parent .container .test .cv p span {
  color: var(--text-color);
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
}
.skills-parent .container .test ul.bullets {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.skills-parent .container .test ul.bullets li {
  width: 20px;
  height: 20px;
  border: 1px var(--text-color) solid;
  border-radius: 50%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  cursor: pointer;
}
.skills-parent .container .test ul.bullets li:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.skills-parent .container .test ul.bullets li.active {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
.skills-parent .container .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 45%;
}
.skills-parent .container .skill h3 {
  font-weight: normal;
  padding: 30px;
}
.skills-parent .container .skill p {
  color: var(--text-color);
  padding: 30px;
  line-height: 2;
  text-align: center;
}
.skills-parent .container .skill .box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
.skills-parent .container .skill .box .prog-holder {
  width: 90%;
  align-self: center;
}
.skills-parent .container .skill .box .prog-holder h4 {
  font-weight: normal;
  margin-bottom: 20px;
}
.skills-parent .container .skill .box .prog-holder .program {
  width: 100%;
  height: 30px;
  background-color: #eee;
}
.skills-parent .container .skill .box .prog-holder .program span {
  background-color: var(--main-color);
  height: 100%;
  display: block;
  position: relative;
  width: 0%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.skills-parent .container .skill .box .prog-holder .program span::before {
  content: attr(data-prog);
  position: absolute;
  padding: 3px;
  border-radius: 5px;
  background-color: black;
  right: -18px;
  top: -40px;
  color: white;
}
.skills-parent .container .skill .box .prog-holder .program span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-bottom: 0;
  border-left-width: 10px;
  border-right-width: 10px;
  border-top-width: 15px;
  border-color: transparent;
  border-top-color: black;
  right: -10px;
  top: -22px;
  z-index: -1;
}
/* end skills */
/* start quto */
.quto {
  width: 100%;
  height: 300px;
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
}
.quto::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.quto .content {
  position: absolute;
  z-index: 2;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}
@media (max-width: 767px) {
  .quto .content {
    width: 100%;
  }
}
.quto q {
  font-size: 30px;
}
.quto p {
  margin-top: 20px;
}
/* end quto */
/* start pricing */
.pricing .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-bottom: 50px;
}
.pricing .container .box {
  background-color: #fcfcfc;
  text-align: center;
  color: black;
  min-width: 250px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.pricing .container .box:hover {
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  box-shadow: 0 0 12px 0 #e5e5e5;
}
@media (max-width: 767px) {
  .pricing .container .box {
    flex: 1;
  }
}
.pricing .container .box .price,
.pricing .container .box .feature,
.pricing .container .box .buy-now {
  border-top: solid 1px var(--main-color);
}
.pricing .container .box .price {
  padding: 40px 80px;
}
.pricing .container .box .price h4 {
  font-weight: normal;
  font-size: 20px;
}
.pricing .container .box .price p {
  font-size: 60px;
  font-weight: bold;
  position: relative;
  margin-top: 20px;
}
.pricing .container .box .price p::before {
  content: "$";
  position: absolute;
  font-size: 20px;
  left: -15px;
  font-weight: normal;
}
.pricing .container .box .price p::after {
  content: "/MO";
  position: absolute;
  font-size: 20px;
  right: -50px;
  bottom: 10px;
}
.pricing .container .box .feature {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricing .container .box .feature p:not(:last-child) {
  padding: 15px;
  width: fit-content;
  border-bottom: 1px solid var(--main-color);
  align-self: center;
  margin-bottom: 10px;
}
.pricing .container .box .buy-now button {
  margin: 30px;
  padding: 15px;
  color: #fcfcfc;
  font-weight: bold;
  border: solid 1px var(--main-color);
  background-color: var(--main-color);
  transition: 0.5s;
}
.pricing .container .box .buy-now button:hover {
  background-color: #1c85a3;
  border-color: #1c85a3;
}
.special {
  margin: auto;
  width: fit-content;
  text-align: center;
}
.special p {
  font-size: 20px;
  padding: 20px;
}
.special a.to-contact {
  padding: 20px;
  background-color: var(--main-color);
  color: white;
  border: 0;
  display: block;
  margin: auto;
  margin-bottom: 100px;
  width: fit-content;
  text-decoration: none;
}
/* end pricing */
/* start subscribe */
.subscribe {
  width: 100%;
  height: 250px;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
  color: white;
}
.subscribe::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 50px;
}
@media (max-width: 767px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe .container form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 500px;
  max-width: 100%;
}
.subscribe .container form i {
  margin-left: 20px;
  position: absolute;
}
.subscribe .container form input[type="email"] {
  background-color: transparent;
  width: calc(100% - 120px);
  caret-color: var(--main-color);
  color: white;
  position: relative;
  border: 1px solid white;
  border-right: none;
  padding: 20px 0 20px 60px;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe .container form input[type="submit"] {
  width: 120px;
  color: white;
  border: 1px solid white;
  border-left: none;
  background-color: var(--main-color);
  padding: 20px;
  cursor: pointer;
}
/* end subscribe */
/* start contact */
.contact {
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact .container {
  display: flex;
  gap: 50px;
}
.contact .container form {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  gap: 20px;
}
.contact .container form :focus {
  outline: none;
}
.contact .container form input[type="text"],
.contact .container form input[type="email"],
.contact .container form textarea {
  padding: 20px;
  border: #9e9e9e solid 1px;
}
.contact .container form input[type="submit"] {
  width: 150px;
  padding: 20px;
  border: 0;
  background-color: var(--main-color);
  color: white;
  align-self: end;
  cursor: pointer;
}
@media (max-width: 767px) {
  .contact .container {
    flex-direction: column;
  }
  .contact .container .contact-info {
    order: -1;
    text-align: center;
  }
}
.contact .container .contact-info h4 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}
.contact .container .contact-info span {
  display: block;
  margin-bottom: 15px;
  color: var(--text-color);
}
.contact .container .contact-info span:last-of-type {
  margin-bottom: 50px;
}
.contact .container .contact-info address {
  line-height: 2;
  color: var(--text-color);
}
/* end contact */
/* start footer */
footer {
  position: relative;
  height: 350px;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  margin-top: 50px;
}
footer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 70%);
}
footer .foot {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 30px;
  width: 100%;
}
footer .foot img {
  margin-bottom: 30px;
}
footer .foot p:first-of-type {
  padding: 20px;
  font-size: 25px;
  border-bottom: 2px solid;
}
footer .foot .icons {
  display: flex;
  gap: 40px;
  padding: 30px;
}
footer .foot p:last-of-type {
  padding: 50px 0 0 0;
}
footer .foot p:last-of-type span:last-of-type {
  color: var(--main-color);
  font-weight: bold;
}
/* end footer */
/* scroll to top button */
.scroll-to-top {
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  position: fixed;
  display: none;
  right: 40px;
  bottom: 20px;
  border: 0;
  transition: var(--main-transition);
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.scroll-to-top::before {
  content: "";
  width: 4px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 15%;
  left: 30%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.scroll-to-top::after {
  content: "";
  width: 4px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 15%;
  right: 30%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.scroll-to-top:hover {
  background-color: #009688;
}
